name: Build Docker

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/stefanoltmann/oni-seed-browser-backend:latest

      - name: Save Docker image as a tar archive
        run: |
          docker pull ghcr.io/stefanoltmann/oni-seed-browser-backend:latest
          docker save -o oni-seed-browser-backend-latest.tar ghcr.io/stefanoltmann/oni-seed-browser-backend:latest

      - name: Upload Docker image as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: oni-seed-browser-backend-latest.tar
          path: oni-seed-browser-backend-latest.tar
